@model IEnumerable<StudentManagementSystem.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Courses</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Course</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courseName)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.courseId">Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.courseId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.courseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
